<div class="row text-center">

    <h2 class="">All Pictures</h2><br>

    <div class="col-sm-12">

        <ul class="dynamic-grid" angular-grid="all.pics" ag-grid-width="230" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true">
            <li ng-repeat="pic in all.pics" class="grid">
                <img ng-src="{{pic.url}}" class="grid-img" on-error-src="/public/img/no_picture_image.png"/>
                <div class="title">{{pic.title}}</div>
                <div>{{pic.likes}}</div>
                <div>{{pic.author}}</div>
            </li>
        </ul>

    </div>

</div>
